body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Biru muda untuk latar belakang */
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #2196F3; /* Warna biru untuk judul */
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    margin: 10px 0 15px 0;
}

button[type="submit"] {
    background-color: #2196F3; /* Warna biru untuk tombol */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #1976D2; /* Warna biru yang lebih gelap saat tombol di-hover */
}
